{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="card text-white bg-dark mb-3 shadow-lg">
    <div class="card-header">
        <h3>Actividad 2: Cifrar y descifrar</h3>
    </div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <h5><label for="metodo_id">Método</label></h5>
                <select class="form-control" id="metodo_id" name="metodo">
                    <option value="1">Polybios</option>
                    <option value="2">César</option>
                    <option value="3">Alberti</option>
                    <option value="4">Vigénere</option>
                    <option value="5">Playfair</option>
                    <option value="6">Hill</option>
                </select>
            </div>
            <div class="row justify-content-center">
                <div class="col-3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="opcion" id="cifrar" value="cifrar" checked>
                        <label class="form-check-label" for="cifrar">
                            Cifrar
                        </label>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="opcion" id="descifrar" value="descifrar">
                        <label class="form-check-label" for="descifrar">
                            Descifrar
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group hidden" id="dimension_opt_id">
                <h5><label for="dimension_id">Dimensión</label></h5>
                <input type="number" class="form-control input-group-sm" id="dimension_id" name="dimension">
            </div>
            <div class="form-group">
                <h5><label for="mensaje_id">Mensaje</label></h5>
                <textarea class="form-control input-group-sm" id="mensaje_id" rows="1" name="mensaje"></textarea>
            </div>
            <div class="form-group hidden" id="llave_opt_id">
                <h5><label for="llave_id">Llave</label></h5>
                <textarea class="form-control" id="llave_id" rows="1" name="llave"></textarea>
            </div>
            <div>
                <button type="submit" class="btn btn-primary float-right">Continuar</button>
                <button type="reset" class="btn btn-danger float-right mr-2" id="reset_id" onclick="reset()">Reiniciar</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/mine.js' %}"></script>
{% endblock scripts %}