{% extends "base.html" %}

{% block content %}
<div class="card text-white bg-dark mb-3 shadow-lg">
    <div class="card-header">
        <h2>Actividad 2: Cifrar y descifrar</h2>
    </div>
    <div class="card-body">
        <div class="form-group">
            <h4><label for="resultado_id">Resultado</label></h4>
            <textarea class="form-control" name="resultado" id="resultado_id" >{{res}}</textarea>
        </div>
        <div>
            <button class="btn btn-danger float-right" onclick="history.back()">Regresar</button>
        </div>
    </div>
</div>
{% endblock content %}
